*{
    margin : 0 ; 
    padding: 0;
    box-sizing:border-box; 
}

body{
    Background-color:rgb(211, 203, 168);
color:#73693a;
text-align: center;
line-height: 1.6;
}

.section{
    padding:40px 20px;
}

.hero{
    padding:50px 20px;
}

.hero h2{
    font-size: 100px;
}

.grid{
    display:grid;
    Gap:10px;
}

.grid div{
    background-color:rgb(172, 182, 115);
    padding: 20px;
    Border-radius:100px;
}

@media (max-width: 768px){
    .hero h1{font-size:40px;;}
}

@media (max-width:768px) {
    body{background-color: rgb(64, 67, 49)};
}
.hero-text {
    display: flex;
    flex-direction: :column;
}
